<div class="container bungee-regular">
  <div class="title">
    <h1>
      NoteSealer
      <span> Password Reset </span>
    </h1>
  </div>
  <form>
    <div class="form-fields">
      <div class="form-field">
        <label for="">Email:</label>
        <input type="text" formControlName="email" />
        @if (FYPEmail.invalid && FYPEmail.touched) {
          <p style="color: #7c0d0d">Invalid Email</p>
        }
      </div>
      <div class="bottom">
        <button class="log" (click)="FYP()">Request Reset</button>
      </div>
    </div>
  </form>

  @if (errorMessage() != '' && !isErrorDismissed()) {
    <app-error-message-dialog
      [errorMessage]="errorMessage()"
      (isErrorMessageDismissed)="isErrorDismissed.set($event)"
    ></app-error-message-dialog>
  }
  @if (loading()) {
    <app-loading-popup></app-loading-popup>
  }
</div>
